
:root {
    --accent: #d55;
    --title: #00252E;
    --para: #808E9A;
}
body {
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--title);
    background-color: #ffffff;
    

    
}
a{
    text-decoration: none;
}
/* layout */
.container{
    width: 95%;
    max-width: 128rem;
    margin-left: auto;
    margin-right: auto;
    
}
@media screen and (max-width: 75em) { /* eq 1200px */
    .container {
        max-width: 116rem;
    }
}
@media screen and (max-width: 62em) { /* eq 992px */
    .container {
        max-width: 95.2rem;
    }
}
@media screen and (max-width: 48em) { /* eq 768px */
    .container {
        max-width: 72.8rem;
    }
}

@media screen and (max-width: 36em) { /* Indiquer les mesures en em avec une base de 16px - Ex : 576/16 = 36em*/
    .container {
        max-width: 53.6rem;
    }
}










/*Header*/
.site-header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.site-header{
    background-image: url(../image-huddle/herobg.png);
    background-repeat: repeat-x;
    background-position-x: 50%;
    background-position-y: -3rem;
    padding-bottom: 1.47rem;
}
@media screen and (max-width: 36em) { /* Indiquer les mesures en em avec une base de 16px - Ex : 576/16 = 36em*/
    .site-header > .container{
        justify-content: space-around;
    }
}


.logo{
    margin-top: 5rem;
}

.btn-header{
    margin-top: 5rem;
    
}
.btn-link-try{
    padding-top: 1.3rem;
    padding-bottom: 1.6rem;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    font-size: 1.4rem;
    list-style: none;
    line-height: 1.3;
    font-weight: 700;
    text-decoration: none;
    color: #00252E;
    background-color: #fff;
    border: 0;
    border-radius: 2.4rem;
    box-shadow: 0rem .3rem 1.1rem #00000018;
    display: inline-block;
    transition: 0.3s;
}
.btn-link-try:hover,
.btn-link-try:focus{
    background-color: #FF52C1 ;
    color: #FFF;
    border: 1rem solid #FFF;
}
@media screen and (max-width: 36em) { /* Indiquer les mesures en em avec une base de 16px - Ex : 576/16 = 36em*/
    .logo{
        max-width: 10rem;
    }
    .btn-header{
        max-width: 9.6rem;
    }
    .btn-link-try{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        font-size: .9rem;
    }
}



/*Hero*/
.hero > .container{
    margin-top: 7rem;
    margin-bottom: 9rem;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 48em){ 
    .hero > .container {
        max-width: 47rem;
        flex-direction: column;
        
    }
}

.img-hero{
    width: 95%;
    max-width: 65.6rem;
}


.text-hero{
    margin-right:5.4rem ;
    max-width: 53.6rem;

}
.title-hero{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    margin-top: 8.5rem;
}

.para-hero{
    font-size: 1.8rem;
    margin-top: 3.4rem;
}
.btn{
    margin-top: 3rem;
}
.btn-hero-free{
    padding-top: 1.7rem;
    padding-bottom: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight:700;
    text-decoration: none;
    color: #fff ;
    background-color: #FF52C1;
    border: 0;
    border-radius: 2.8rem;
    box-shadow: .2rem .3rem .6rem #FF52C12A;
    display: inline-block;
    transition: 0.3s;
}
.btn-hero-free:hover,
.btn-hero-free:focus{
    background-color: #FFF;
    color: #FF52C1;
    border: 1rem solid #FF52C1;
}
@media screen and (max-width: 48em){ 
    .img-hero{
        padding-left: 3rem;
    }
    .text-hero {
        margin-right: 0;
        text-align: center;
        padding-bottom: 2rem;
    }
    .title-hero{
        font-family: 'Poppins', sans-serif;
        font-size: 3rem;
    }
    .para-hero{
        font-size: 1.6rem;
    }
    
}
@media screen and (max-width: 36em){
    .img-hero{
        width: 95%;
        max-width: 65.6rem;
    }    

    .btn-hero-free{
            
            font-size: 1rem;
            line-height: 1.3;
            text-decoration: none;
            color: #fff ;
            background-color: #FF52C1;
            border: 0;
            border-radius: 2.8rem;
            box-shadow: .2rem .3rem .6rem #FF52C12A;
            display: inline-block;
        }
}

.explanation > .container{
    margin-top: 16rem;
    margin-bottom: 16rem;
}


.explan-contain{
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0rem 0rem 1.6rem #0000001A;
    border-radius: 1.6rem;
}

.explan-contain-reverse{
    flex-direction: row-reverse;
}

@media screen and (max-width: 62em) { /* eq 992px */
    .explan-contain, .explan-contain-reverse {
        margin-right: 5rem;
        margin-left: 5rem;
        padding-bottom: 10rem;
        justify-content: center;
        flex-direction: column-reverse;
    }
}


.text-explan{
    max-width: 49rem;
    padding-left: 12rem;
}
.img-explan{
    width: 50%;
    max-width: 44rem;
    min-width: 28.6rem;
    padding-right: 1.6rem;
}
.img-explan-reverse{
    width: 50%;
    max-width: 44rem;
    min-width: 28.6rem;
    padding-left: 10rem ;
}
@media screen and (max-width: 62em) { /* eq 992px */
    .img-explan, .img-explan-reverse, .text-explan {
        padding-top: 5rem;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}
@media screen and (max-width: 36em){
    .img-explan, .img-explan-reverse, .text-explan{
        padding-top: 2.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    } 
    
}


.title-explan{
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
}
.para-explan{
    margin-top: 2rem;
    font-size: 1.8rem;
    color: var(--para);
}
@media screen and (max-width: 36em){
    .title-explan{
        font-size: 2rem;
    } 
    .para-explan{
        font-size: 1.4rem;
    }
    
}

/*Ready*/

.ready > .container{
    max-width: 80rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0rem 0rem 1.6rem #0000001A;
    border: 0;
    border-radius: 1.5rem;
    position: relative;

}
@media screen and (max-width: 62em) { /* eq 992px */
    .ready > .container {
        max-width: 70rem;
    }
}


.ready {
    margin-top: 16rem;
    margin-bottom: -10rem;
}

.title-ready{
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    margin-top: 5.7rem;
}
.btn-ready{
    margin-top: 4.6rem;
    margin-bottom: 5.2rem; 
}
.btn-ready-free{
    padding-top: 2.7rem;
    padding-bottom: 2.6rem;
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: 2rem;
    line-height: 1.3;
    font-weight:700;
    text-decoration: none;
    color: #fff ;
    background-color: #FF52C1;
    border: 0;
    border-radius: 4rem;
    box-shadow: 0rem .6rem 1.3rem #00252E39;
    display: inline-block;
    transition: 0.3s;
}
.btn-ready-free:hover,
.btn-ready-free:focus{
    background-color: #FFF;
    color: #FF52C1;
    border: 1rem solid #FF52C1;
}
@media screen and (max-width: 36em){
    .title-ready {
        text-align: center;
        font-size: 1.8rem;
    }
    .btn-ready-free{
        font-size: 1.2rem;
    }
}
/* Footer */

.site-footer{
    background-color: #00252E ;
}
.site-footer > .container{
    padding-top: 19.15rem ;
    padding-bottom: 6.4rem;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 4rem;
}
@media screen and (max-width: 62em) { /* eq 992px */
    .site-footer > .container{
        display: grid; 
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 2rem;
        row-gap: 4rem;
    }
}
@media screen and (max-width: 48em){
    .site-footer > .container{
        display: grid; 
        grid-template-columns: 1fr;
        row-gap: 4rem
    }
}


.img-logo-footer{
    grid-row: 1;
    grid-column: 1 / -1;
}
.list-contact,.list-pro{
    grid-row: 2;
}
.footer-copy{
    min-width: 26rem;
    grid-row: 3;
    grid-column: 3 / -1;
}
.list-pro{
    columns: 10rem 2;
    gap: 2rem;
}
.item-contact,.item-pro {
    padding-bottom: 3rem;
}

.footer-img-contact{
    padding-right: 1.6rem;
}
.list-reseau{
    
    grid-row: 2;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 48em){ 
    .list-contact{
        grid-row: 2;
    }
    .list-pro{
        display: flex;
        flex-direction: column;
        gap: 0;
        grid-row: 3;
    }
    .list-reseau{
        display: flex;
        justify-content: center; 
        max-width: 100%;
        grid-row: 4;
    }
    .footer-copy{
        display: flex;
        justify-content: center;
        grid-column: 1;
        grid-row: 5;
    }
}
.item-reseau{
    border: 0.0918356716632843rem solid #DFE4F0;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.menu-link{
    color: #fff;
    
}
 

.para-footer{
    font-size: 1.2rem;
    color: #fff;
}



/* 
@media screen and (max-width: 75em) { 
    .container {
        max-width: 116rem;
        background-color: tomato;
    }
}
@media screen and (max-width: 62em) { 
    .container {
        max-width: 95.2rem;
        background-color: skyblue;
    }
}
@media screen and (max-width: 48em) { 
    .container {
        max-width: 72.8rem;
        background-color: seagreen;
        padding-left: 2rem;
        padding-right: 2rem;
        
    }
    .hero > .container{
        margin-top: 7rem;
        margin-bottom: 9rem;
        padding-left: 3rem;
        padding-right: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .explan-contain{
        margin-top: 4rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0rem 0rem 1.6rem #0000001A;
        border-radius: 1.6rem;
    
    
    
    }
    .explan-contain-reverse{
        flex-direction: column-reverse; 
    }

    .text-explan{
        align-items: center;
        text-align: center;
        max-width: 25rem;
        margin: 0;
        
    }
    .img-explan{
        max-width: 23rem;

    }
    .img-explan-reverse{
        max-width: 23rem;
        padding-left: 0 ;
    }
    
    
    .title-explan{
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
    }
    .para-explan{
        margin-top: 1.8rem;
        font-size: 1.4rem;
        color: var(--para);
    }
    
    .ready {
        margin-top: 12rem;
        margin-bottom: -10rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    
    .title-ready{
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        margin-top: 4.7rem;
    }
    .btn-ready{
        margin-top: 2.6rem;
        margin-bottom: 4.2rem; 
    }
    .btn-ready-free{
        padding-top: 1.65rem;
        padding-bottom: 1.85rem;
        padding-left: 7rem;
        padding-right: 7rem;
        font-size: 1.5rem;
        line-height: 1.3;
        font-weight:700;
        text-decoration: none;
        color: #fff ;
        background-color: #FF52C1;
        border: 0;
        border-radius: 4rem;
        box-shadow: 0rem .6rem 1.3rem #00252E39;
        display: inline-block;
    }
    .site-footer > .container{
        padding-top: 19.15rem ;
        padding-bottom: 6.4rem;
        display: grid;
        grid-template-rows: min-content; 
        grid-template-columns: 1fr;
        }

    .img-logo-footer{
        grid-row: 1;
        }
    .list-contact{
        grid-row: 2;
        }
    .list-pro{
        grid-row: 3;
    }
    .footer-copy{
        grid-row: 5;
        }
   
    .item-contact,.item-pro {
        padding-bottom: 3rem;
    }
        
    .footer-img-contact{
        padding-right: 1.6rem;
    }
    .list-reseau{
        grid-row: 4;
        max-width: 12rem;
        display: flex;
        justify-content: space-between;
        }

}
@media screen and (max-width: 36em) { 
    .container {
        max-width: 53.6rem;
        background-color: red;
    }
} */
